---
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
    <About />
    <Experience />
  </main>
</MainLayout>
