---
import { Icon } from 'astro-icon';
---

<header
  class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
>
  <div>
    <h1 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl">
      <a href="/">Rahul Dogra</a>
    </h1>

    <h2
      class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl"
    >
      <span id="typed"></span>
    </h2>

    <p class="mt-4 max-w-xs leading-normal">
      I build exceptional and accessible digital solutions for the web and
      mobile.
    </p>
  </div>
  <ul class="ml-1 mt-8 flex items-center" aria-label="Social media">
    <li class="mr-5 text-xs">
      <a
        class="block hover:text-slate-200"
        href="https://github.com/rahuld109"
        target="_blank"
        rel="noreferrer"
      >
        <span class="sr-only">GitHub</span>
        <Icon class="h-6 w-6" name="github" />
      </a>
    </li>
    <li class="mr-5 text-xs">
      <a
        class="block hover:text-slate-200"
        href="https://twitter.com/rahuld109"
        target="_blank"
        rel="noreferrer"
      >
        <span class="sr-only">Twitter</span>
        <Icon class="h-6 w-6" name="twitter" />
      </a>
    </li>
    <li class="mr-5 text-xs">
      <a
        class="block hover:text-slate-200"
        href="https://www.linkedin.com/in/rahuld109/"
        target="_blank"
        rel="noreferrer"
      >
        <span class="sr-only">LinkedIn</span>
        <Icon class="h-6 w-6" name="linkedin" />
      </a>
    </li>
  </ul>
</header>

<script>
  import Typed from 'typed.js';

  new Typed('#typed', {
    strings: [
      'Experienced Front-End Engineer',
      'Experienced Back-End Engineer',
      'Experienced Full-Stack Engineer',
    ],
    typeSpeed: 60,
    loop: true,
    backSpeed: 60,
  });
</script>

<script>
  let canvas = document.getElementById('custom-cursor') as HTMLCanvasElement;
  let ctx = canvas.getContext('2d')!;
  let trailLength = 10;
  let trail: Array<{ x: number; y: number }> = [];

  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;

  document.addEventListener('mousemove', function (e) {
    let x = e.clientX;
    let y = e.clientY;
    trail.push({ x: x, y: y });
    if (trail.length > trailLength) {
      trail.shift();
    }
  });

  function drawCursor() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    if (trail.length > 1) {
      for (let i = 0; i < trail.length - 1; i++) {
        let startPoint = trail[i];
        let endPoint = trail[i + 1];
        let alpha = 1 - i / trail.length;
        ctx.beginPath();
        ctx.moveTo(startPoint.x, startPoint.y);
        ctx.lineTo(endPoint.x, endPoint.y);
        ctx.strokeStyle = 'rgba(255, 255, 255, ' + alpha + ')';
        ctx.lineWidth = 2;
        ctx.stroke();
      }
    }
    requestAnimationFrame(drawCursor);
  }

  drawCursor();
</script>
