---
import Header from "../components/Header";
import Footer from "../components/Footer";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/x-icon" href="/logo.png" />
        <meta
            name="description"
            content="Rahul Dogra • Modern Software Engineering Website"
        />
        <title>
            {Astro.props.title}
        </title>
    </head>

    <body class="bg-neutral-900 text-white">
        <Header client:visible />
        <slot />
        <Footer />
    </body>
</html>
