---
import MainHead from '../components/MainHead.astro';
import MainHeader from '../components/MainHeader.astro';

export interface Props {
  title?: string;
  description?: string;
  heroImage?: string;
  imageAlt?: string;
}

const defaultMeta = {
  title: 'Rahul Dogra Studio • Modern Software Engineering',
  description:
    'Modern Software Engineering, TypeScript enthusiast, Gopher and a passionate learner.',
  image: 'banner.png',
  imageAlt: 'Photo of the author smiling',
};

const {
  title = defaultMeta.title,
  description = defaultMeta.description,
  heroImage = defaultMeta.image,
  imageAlt = defaultMeta.imageAlt,
} = Astro.props as Props;
---

<html lang="en">
  <MainHead
    title={title}
    description={description}
    heroImage={heroImage}
    imageAlt={imageAlt}
  />
  <body
    class="bg-gray-900 leading-relaxed text-slate-400 antialiased selection:bg-teal-300 selection:text-teal-900"
    data-new-gr-c-s-check-loaded="14.1138.0"
    data-gr-ext-installed=""
    cz-shortcut-listen="true"
  >
    <canvas
      class="fixed top-0 left-0 pointer-events-none z-50"
      id="custom-cursor"
      width="1512"
      height="857"
    >
    </canvas>
    <div
      class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
    >
      <div class="lg:flex lg:justify-between lg:gap-4">
        <MainHeader />
        <slot />
      </div>
    </div>
  </body>
</html>
