---
import Header from '@components/Header';
import Footer from '@components/Footer';
---

<html lang='en' class="scroll-smooth">
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/x-icon' href='/favicon.webp' />
    <meta
      name='description'
      content='Rahul Dogra • Modern Software Engineering Website'
    />
    <title>
      {Astro.props.title}
    </title>

    <script is:inline>
      const mode = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('mode')
        ) {
          return localStorage.getItem('mode');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'dark';
      })();

      if (mode === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      window.localStorage.setItem('mode', mode);
    </script>
  </head>

  <body class='bg-white dark:bg-neutral-900 text-black dark:text-gray-100 scrollbar-thin scrollbar-thumb-red-600 dark:scrollbar-track-zinc-800 scrollbar-track-gray-100 hover:scrollbar-thumb-red-500' >
    <Header client:visible />
    <slot />
    <Footer />
  </body>
</html>
